@using FunpayGold.MVC.ViewModels
@model CabinetViewModel;
@{
    ViewData["Title"] = "Cabinet Page";
}

<script>var CabinetViewModel = @Json.Serialize(Model);</script>

<link rel="stylesheet" href="~/css/simple-notify.min.css" type="text/css"/>
<link rel="stylesheet" href="~/css/cabinet_index.css" type="text/css"/>

<div class="main_container">
    <div class="mybotsform">
        <h2>Мои боты</h2>         
        <table class="table table-primary table-hover">
        <thead>
            <tr>
            <th>ИНДЕТИФИКАТОР</th>
            <th>НАЗВАНИЕ</th>
            <th>АКТИВНОСТЬ</th>
            <th>УПРАВЛЕНИЕ</th>
            </tr>
        </thead>
        <tbody>
        @{
            foreach(var bot in Model.User.Bots)
            {
                <tr>
                    <td>@bot.Id</td>
                    <th>@bot.Name</th>
                    <td><button class="info btn btn-primary btn-sm"><i class="fa-solid fa-barcode-read"></i></button></td>
                    <td class="settings_btn_block">
                    @if(bot.IsActive){
                        <button id="TurnOffBot_@bot.Id" onclick="TurnOffBot('@bot.Id')" class="stopbot btn btn-primary btn-sm"><i class="flexitem fa-solid fa-stop"></i></button>
                    }
                    else{
                        <button id="TurnOnBot_@bot.Id" onclick="TurnOnBot('@bot.Id')" class="startbot btn btn-primary btn-sm"><i class="flexitem fa-solid fa-play"></i></button>
                    }
                        <button onclick="SetBotSettingsModal('@bot.Id')" type="button" data-bs-toggle="modal" data-bs-target="#EditBotSettingsModal" class="editbot btn btn-primary btn-sm"><i class="flexitem fa-solid fa-pen-to-square"></i></button>
                    </td>
                </tr>
            }
        }
        </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="EditBotSettingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Настройки</h5>
            </div>
            <div class="modal-body">

            <form id="SettingsValidationForm" class="row g-3 needs-validation" novalidate>

              <input type="text" class="form-control" id="BotId" hidden>

              <div class="col-md-6">
                <label for="BotName" class="form-label">Название бота</label>
                <input type="text" class="form-control" id="BotName">
              </div>
              <div class="proxysettings">
                  <div class="col-md-3">
                    <label for="validationCustom03" class="form-label">Ip (Прокси)</label>
                    <input type="text" pattern="^(([1-9]?\d|1\d\d|2[0-5][0-5]|2[0-4]\d)\.){3}([1-9]?\d|1\d\d|2[0-5][0-5]|2[0-4]\d)$" class="form-control" id="ProxyIp" required>
                    <div class="invalid-feedback">
                      Укажите правильный ip адрес прокси.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom03" class="form-label">Логин (Прокси)</label>
                    <input type="text" class="form-control" id="ProxyLogin" required>
                    <div class="invalid-feedback">
                      Укажите верный логин от прокси.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom03" class="form-label">Пароль (Прокси)</label>
                    <input type="text" class="form-control" id="ProxyPassword" required>
                    <div class="invalid-feedback">
                      Укажите верный пароль от прокси.
                    </div>
                  </div>
              </div>
              <div class="accountsettings">
                  <div class="col-md-3">
                    <label for="AccountLogin" class="form-label">Логин (Аккаунт)</label>
                    <input type="text" class="form-control" id="AccountLogin" required>
                    <div class="invalid-feedback">
                      Укажите верный логин.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="AccountPassword" class="form-label">Пароль (Аккаунт)</label>
                    <input type="text" class="form-control" id="AccountPassword" required>
                    <div class="invalid-feedback">
                      Укажите верный пароль.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="AccountMobile" class="form-label">Номер телефона (Аккаунт)</label>
                    <input type="text" class="form-control" id="AccountMobile" required>
                    <div class="invalid-feedback">
                      Укажите верный номер телефона.
                    </div>
                  </div>
              </div>
              <div class="col-md-6">
                <label for="TelegramBotKey" class="form-label">Ключ телеграм бота</label>
                <input type="text" class="form-control" id="TelegramBotKey">
              </div>
              <div class="col-12">
                <button id="SaveChangesBotSettings" class="btn btn-primary" type="submit">Сохранить изменения</button>
              </div>
            </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/simple-notify.min.js"></script>
<script src="/js/cabinet_index.js"></script>